<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.nacos.config.mapper.PaymentMapper">

   <resultMap id="baseResultMap" type="com.itheima.nacos.config.entity.Payment">
       <id column="id" property="id" jdbcType="BIGINT"/>
       <id column="serial" property="serial" jdbcType="VARCHAR"/>
   </resultMap>
    <sql id="Base_Column_List">
        id,serial
    </sql>

    <select id="selectByPrimaryKey" parameterType="Long" resultMap="baseResultMap">
        select
        <include refid="Base_Column_List" />
        from payment
        where id = #{id}
    </select>

    <select id="getPaymentById" parameterType="Long" resultMap="baseResultMap">
        select
        <include refid="Base_Column_List" />
        from payment where id=#{id}
    </select>

 <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
     insert into payment (serial) values(#{serial})
 </insert>




</mapper>