<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试git前端提交</title>
</head>
<body>
<h2>测试git前端提交与前后端分离提交到Git</h2>
<h3>1,新建网页</h3>
<h3>2,把这个项目提交到本地仓库git-->commit Directory编辑[commit Message]点击Commit按钮</h3>
<h3>3.提交完毕可以把这个项目切换到后台项目[点击项目git-->Repository---Branches(master-->checkout)]</h3>
<h3>4.这是到了后台项目，可以随意编辑[git---->commit Directory--->commit changes(commit Message)]</h3>
<h3>5.添加完毕，如果前后端都把代码写好了，就可以把前端的分支和后端的分支合并到一个分支
    [git-->Repository-->Breaches(web-->Merge into Current)]</h3>
<h3>6.这样就合并同一个分支完成了,就可以把前端的分支删除[git-->Repository-->Branches(web-->Delete)]</h3>
<h3>7.前后端合并以后再提交到远程仓库中,点击push按钮[git-->Repository-push]</h3>
<h3>8.提交成功出现push successful提示然后刷新github页面</h3>
</body>
</html>